@font-face {
    font-family:'minhafonte';
    src:url("../assets/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVtaooCPNLA3JC9c.ttf");
  }

body {
    margin: 0;
    background-color: #000000;
    overflow-x: hidden;
}
.logo {
    margin: 15px;
    display: flex;
    flex-direction: row;
    font-weight: 800;
    font-size: 20px;
}

.logo-img {
    width: 50px;
    height: auto;
    border-radius: 50%;
    vertical-align: middle;
}

.nomeProjeto{
    color: white;
}

.container{
    height: 90vh;
    width: 100%;
    margin-top: -55px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.divTextinho{
    width: 70%;
    font-family: "minhafonte";
}

h1 {
    font-size: 45px; 
    text-shadow: 
        -2px -2px 0 yellow,
        2px -2px 0 yellow,
        -2px 2px 0 yellow,
        2px 2px 0 yellow; 
    text-align: center;
}

.textinho{
    color: white;
    text-align: center;
}

.divSeta{
    margin-top: -3%;
    margin-left: 1250px;
  }

.imgSeta{
    cursor: pointer;
}

.videos{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
}

iframe{
    box-shadow: 0 4px 8px rgb(0, 255, 0);
}
