body{
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: "Poppins", sans-serif;
}

::selection{
  background: yellow;
  color: black;
}

.boxContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.imgCad{
  height: 100vh;
  width: 98.5%;
}

.nomeCad{
  font-family: Poppins;
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 40px;
  margin-top: -40px;
}

.tudoCad{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
  text-align:center;
  z-index: 999; 
  margin-left: 15%; 
  margin-top:20vh;
  height: 65vh; 
  width: 35%; 
  border-radius:35px;
}

.inputsCad{
  font-weight: bold;
  margin-right: 40%;
  font-size: 20px;
  margin-left: 40%;
}

.inputsCad .labelForm{
  margin-right: 75%;
  font-size: 20px;
  font-weight: normal;
}

.inputsCad .labelForm{
  margin-right: 75%;
  font-size: 20px;
  font-weight: normal;
}

.inputCad, .inputSenha, .inputNome, .inputEstado{
  width: 300px;
  height: 18%;
  border: 1px solid black;
  border-radius: 8px;
  background-color:  transparent;
  outline: none;
  font-size: 18px;
}

.inputCad:focus{
  box-shadow: 3px 2px 0px 0px yellow;
}

.inputSenha:focus{
  box-shadow: 3px 2px 0px 0px yellow;
}

.inputNome:focus{
  box-shadow: 3px 2px 0px 0px yellow;
}

.inputEstado:focus{
  box-shadow: 3px 2px 0px 0px yellow;
}

.inpMostrarSenha {
  margin-right: 60%;
  margin-top: 18%;
}

.spanMostrarSenha {
  margin-right: 28%;
  margin-bottom: 5%;
  margin-top: -4.7%;
}

.botao{
  margin-left: 10%;
  display: flex;
  flex-direction: row;
  gap: 10%;
}

.btnCancelar{
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 200px;
  height: 50%;
  border-radius: 10px;
  color: black;
  border-color: yellow;
  background-color: #ffffff;
  transition: 0.5s;
  cursor: pointer;
  font-family: 'minhaFonte';
  font-weight: bold;
  font-size: 18px;
  box-shadow: 2px 2px 0px 0px rgb(255, 255, 178);
}

.btnCadastrar{
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 200px;
  height: 50%;
  border-radius: 10px;
  color: black;
  border-color: blue;
  background-color: #ffffff;
  transition: 0.5s;
  cursor: pointer;
  font-family: 'minhaFonte';
  font-weight: bold;
  font-size: 18px;
  box-shadow: 3px 3px 0px 0px rgb(216, 250, 255);
}

.btnCancelar:hover{
  background-color: yellow;
  color: black;
}

.btnCadastrar:hover{
  background-color: blue;
  color: white;
}



