@font-face {
    font-family:'minhafonte';
    src:url("../assets/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVtaooCPNLA3JC9c.ttf");
}

/* Scrollbar*/
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(53, 50, 50);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(13, 67, 177);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(118, 152, 221);
    border-radius: 10px;
  }

body {
    margin: 0;
    background-color: #000000;
    overflow-x: hidden;
    font-family: "minhafonte";
}

.logo {
    margin: 15px;
    display: flex;
    flex-direction: row;
    font-weight: 800;
    font-size: 20px;
    width: 50%;
}

.logo-img {
    width: 60px;
    height: auto;
    border-radius: 50%;
    vertical-align: middle;
}

.nomeProjeto{
    color: white;
}

.container{
    background-color: white;
    border-radius: 20px;
    border: 2px solid blue;
    height: 260vh;
    width: 70%;
    margin: auto;
    margin-top: 5px;
}

.divPergunta{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    flex-direction: column;
}

.divRadios{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    flex-direction: row;
}

.btnFinalizar{
    width: 25%;
    height: 30px;
    border-radius: 13px;
    color: black;
    border-color: blue;
    background-color: white;
    transition: 0.5s;
    cursor: pointer;
    font-family: 'minhaFonte';
    font-weight: bold;
    font-size: 18px;
  }

  .btnTentar{
    width: 25%;
    height: 30px;
    border-radius: 13px;
    color: black;
    border-color: blue;
    background-color: white;
    transition: 0.5s;
    cursor: pointer;
    font-family: 'minhaFonte';
    font-weight: bold;
    font-size: 18px;
  }
  
.corNumA{
    color: blue;
    font-weight: bold;
}

.corNumV{
    color: rgb(0, 211, 0);
    font-weight: bold;
}

.btnFinalizar:hover{
    background-color: blue;
    color: white;
}

.btnTentar:hover{
    background-color: blue;
    color: white;
}

.divSeta{
    margin-top: -3%;
    margin-left: 1250px;
  }

.imgSeta{
    cursor: pointer;
}

/* GRAFICO */
.exibir{
    text-align: center;
    margin-top: 9%;
}
.ExGrafico{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5%;
}





