@font-face {
    font-family:'minhafonte';
    src:url("../assets/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVtaooCPNLA3JC9c.ttf");
  }

body {
    margin: 0;
    background-color: #000000;
    overflow-x: hidden;
    font-family: "minhafonte";
}
.logo {
    display: flex;
    flex-direction: row;
    font-weight: 800;
    font-size: 20px;
}

.logo-img {
    width: 60px;
    height: auto;
    border-radius: 50%;
    vertical-align: middle;
}

.nomeProjeto{
    color: white;
}

.botoes{
    height: 87vh;
}

.btnLeft{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 70px;
    width: 40%;
}

.btnRight{
    display: flex;
    flex-direction: column;
    margin-right: 70px;
    align-items:flex-end; 
    margin-top: 20px;
    margin-top: -37.8%;
}

.btnQuiz, .btnHomens{
    background-color: rgb(247, 247, 134);
}

.btnSair, .btnMulheres{
    background-color: rgb(147, 247, 134);
}

.btnQuiz, .btnMulheres, .btnSair, .btnHomens{
    height: 40vh;
    width: 500px; 
    border-radius: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.btnQuiz:hover{
    background-color: yellow;
    border: 2px solid yellow;
    transition: 200ms linear;
}

.btnMulheres:hover{
    background-color: rgb(0, 214, 0);
    border: 2px solid rgb(0, 214, 0);
    transition: 200ms linear;
}

.btnSair:hover{
    background-color: rgb(0, 214, 0);
    border: 2px solid rgb(0, 214, 0);
    transition: 200ms linear;
}

.btnHomens:hover{
    background-color: yellow;
    border: 2px solid yellow;
    transition: 200ms linear;
}

.fraseBtn{
    font-size: 20px;
}

.divBotaoIcon{
    display: flex;
    flex-direction: column;
}