body{
  background-image: url('..//assets/imgs/imgFundoLogin.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.boxContainer{
    text-align:center;
    z-index: 999; 
    margin-left:32.9%; 
    margin-top:20vh;
    height: 65vh; 
    width: 35%; 
    position: absolute; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    background-color: rgba(255, 255, 255, 0.404);
    border-radius:35px;
}

h1{
  text-align: center;
  margin-top: -60%;
  color: black;
  
}

.tudoLogin{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputLogin{
  width: 300px;
  height: 40px;
  border: none;
  border-bottom: 2px solid black;
  background-color:  transparent;

}